<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/blank.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="aiva-chatbot-ui-blank">
      <div class="main-container">
        <div class="main-container-child"></div>
        <div class="content-area">
          <div class="chatbot-container">
            <h2 class="aiva-chatbot1">
              <b>AIVA </b>
              <span>CHATBOT</span>
            </h2>
          </div>
          <img
            class="separator-icon1"
            loading="lazy"
            alt=""
            src="./public/separator.svg"
          />

          <div class="new-chat-button-container">
            <button class="new-chat-button-wrapper1">
              <div class="new-chat-button-wrapper-child"></div>
              <img
                class="icround-add-icon1"
                alt=""
                src="./public/icroundadd.svg"
              />

              <div class="new-chat-container">
                <div class="new-chat1">New Chat</div>
              </div>
            </button>
          </div>
        </div>
        <div class="regenerate-response-container">
          <button class="regenerate-response-button5">
            <div class="wrapper-regenerate-response-ic">
              <img
                class="regenerate-response-icon"
                alt=""
                src="./public/vector-8.svg"
              />
            </div>
            <div class="upgrade-to-plus1">Upgrade to Plus</div>
          </button>
        </div>
      </div>
      <main class="model-container-parent">
        <header class="model-container">
          <div class="model-container-child"></div>
          <div class="model-header-container">
            <button class="model-type-wrapper">
              <div class="model-13">Model 1</div>
            </button>
            <div class="model-name-wrapper">
              <div class="model-14">Model 1</div>
            </div>
            <div class="model-name-wrapper1">
              <div class="model-15">Model 1</div>
            </div>
          </div>
          <div class="model-options">
            <div class="options-container">
              <div class="option-items">
                <div class="option-item">
                  <div class="option-item-child"></div>
                  <div class="option-button">
                    <div class="option-button-child"></div>
                    <img
                      class="option-icon"
                      alt=""
                      src="./public/vector-9.svg"
                    />
                  </div>
                </div>
              </div>
              <div class="ellipsis-container">
                <img
                  class="left-ellipsis-icon"
                  loading="lazy"
                  alt=""
                  src="./public/ellipse-137@2x.png"
                />

                <div class="right-ellipsis"></div>
              </div>
            </div>
          </div>
        </header>
        <section class="input-wrapper-wrapper">
          <div class="input-wrapper">
            <div class="input-area">
              <div class="input-field-container">
                <div class="input-field-wrapper">
                  <img
                    class="aiva-chatbot-icon"
                    loading="lazy"
                    alt=""
                    src="./public/aiva-chatbot.svg"
                  />
                </div>
                <div class="message-input-container">
                  <div class="message-input-wrapper">
                    <div class="regenerate-response-button6">
                      <div class="come-up-with">Come up with concepts</div>
                      <div class="for-a-retro">
                        for a retro style arcade game
                      </div>
                    </div>
                    <div class="regenerate-response-button7">
                      <div class="explain-why-popcorn">
                        Explain why popcorn pops
                      </div>
                      <div class="to-a-kid">
                        to a kid who loves to watch in the microvawe
                      </div>
                    </div>
                    <div class="regenerate-response-button8">
                      <div class="plan-a-trip">Plan a trip</div>
                      <div class="to-see-the">
                        to see the nothern lights in norway
                      </div>
                    </div>
                    <div class="regenerate-response-button9">
                      <div class="give-me-ideas">Give me ideas</div>
                      <div class="for-what-to">
                        for what to do with my kid’s art
                      </div>
                    </div>
                    <div class="regenerate-response-button10">
                      <div class="come-up-with1">Come up with concepts</div>
                      <div class="for-a-retro1">
                        for a retro style arcade game
                      </div>
                    </div>
                    <div class="regenerate-response-button11">
                      <div class="explain-why-popcorn1">
                        Explain why popcorn pops
                      </div>
                      <div class="to-a-kid1">
                        to a kid who loves to watch in the microvawe
                      </div>
                    </div>
                  </div>
                  <div class="input-actions">
                    <div class="input1">
                      <input
                        class="send-a-message"
                        placeholder="Send a message..."
                        type="text"
                      />

                      <img
                        class="vector-icon11"
                        alt=""
                        src="./public/vector1.svg"
                      />
                    </div>
                    <div class="send-button-wrapper">
                      <div class="send-button-wrapper-child"></div>
                      <img
                        class="send-icon1"
                        alt=""
                        src="./public/vector-13.svg"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="generated-links-container">
              <div class="generated-links-container-child"></div>
              <h2 class="generated-links-of-container">
                <span>Generated Links of </span>
                <span class="websites">Websites</span>
                <span> and </span>
                <span class="documents">Documents</span>
                <span> will appear here</span>
              </h2>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
