<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'global.css' %}" />
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="aiva-chatbot-ui">
      <div class="rectangle-parent">
        <div class="frame-child"></div>
        <div class="aiva-chatbot-wrapper">
          <div class="aiva-chatbot">
            <b>AIVA </b>
            <span>CHATBOT</span>
          </div>
        </div>
        <div class="login-form-content">
          <img
            class="separator-icon"
            loading="lazy"
            alt=""
            src="{% static 'public/separator.svg' %}"
          />

          <div class="new-chat-button-wrapper">
            <button class="new-chat-button">
              <div class="new-chat-button-child"></div>
              <img
                class="icround-add-icon"
                alt=""
                src="{% static 'public/icroundadd.svg' %}"
              />

              <div class="new-chat-wrapper">
                <div class="new-chat">New Chat</div>
              </div>
            </button>
          </div>
          <div class="login-form-content-inner">
            <div class="yesterday-chat-parent">
              <div class="yesterday-chat">
                <div class="yesterday">Yesterday</div>
                <div class="component-1">
                  <div class="platform-marketplace-101">
                    Platform Marketplace 101
                  </div>
                  <div class="component-1-child"></div>
                  <img
                    class="vector-icon"
                    loading="lazy"
                    alt=""
                    src="{% static 'public/vector.svg' %}"
                  />
                </div>
              </div>
              <div class="component-2">
                <div class="platform-marketplace-1011">
                  Give me a proposal for company name
                </div>
                <div class="component-2-child"></div>
                <img
                  class="vector-icon1"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/vector.svg' %}"
                />
              </div>
              <div class="component-3">
                <div class="platform-marketplace-1012">
                  Can you write a short paragraph for
                </div>
                <div class="component-3-child"></div>
                <img
                  class="vector-icon2"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/vector.svg' %}"
                />
              </div>
              <div class="last-week-chats">
                <div class="last-week-chat">
                  <div class="component-4">
                    <div class="platform-marketplace-1013">
                      Reasearch about ui ux
                    </div>
                    <div class="component-4-child"></div>
                    <img
                      class="vector-icon3"
                      loading="lazy"
                      alt=""
                      src="{% static 'public/vector.svg' %}"
                    />
                  </div>
                </div>
                <div class="last-week-parent">
                  <div class="last-week">Last week</div>
                  <div class="component-5">
                    <div class="platform-marketplace-1014">
                      Platform Marketplace 101
                    </div>
                    <div class="component-5-child"></div>
                    <img
                      class="vector-icon4"
                      loading="lazy"
                      alt=""
                      src="{% static 'public/vector.svg' %}"
                    />
                  </div>
                </div>
                <div class="component-6">
                  <div class="platform-marketplace-1015">
                    Give me a proposal for company name
                  </div>
                  <div class="component-6-child"></div>
                  <img
                    class="vector-icon5"
                    loading="lazy"
                    alt=""
                    src="{% static 'public/vector.svg' %}"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="login-form-content-child">
            <div class="last-month-parent">
              <div class="last-month">Last Month</div>
              <div class="component-7">
                <div class="platform-marketplace-1016">
                  Platform Marketplace 101
                </div>
                <div class="component-7-child"></div>
                <img
                  class="vector-icon6"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/vector.svg' %}"
                />
              </div>
              <div class="component-8">
                <div class="platform-marketplace-1017">
                  Give me a proposal for company name
                </div>
                <div class="component-8-child"></div>
                <img
                  class="vector-icon7"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/vector.svg' %}"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="regenerate-response-button-wrapper">
          <div class="regenerate-response-button">
            <div class="wrapper-vector">
              <img
                class="vector-icon8"
                loading="lazy"
                alt=""
                src="{% static 'public/vector-8.svg' %}"
              />
            </div>
            <div class="upgrade-to-plus">Upgrade to Plus</div>
          </div>
        </div>
      </div>
      <main class="model-selection-parent">
        <header class="model-selection">
          <div class="model-selection-child"></div>
          <div class="model-value-parent">
            <button class="model-value">
              <div class="model-1">Model 1</div>
            </button>
            <div class="model-label">
              <div class="model-11">Model 1</div>
            </div>
            <div class="model-label1">
              <div class="model-12">Model 1</div>
            </div>
          </div>
          <div class="bubble-container-wrapper">
            <div class="bubble-container">
              <div class="bubble-container-inner">
                <div class="rectangle-group">
                  <div class="frame-item"></div>
                  <div class="avatar-container">
                    <div class="avatar-container-child"></div>
                    <img
                      class="user-avatar-icon"
                      alt=""
                      src="{% static 'public/vector-9.svg' %}"
                    />
                  </div>
                </div>
              </div>
              <div class="ellipse-parent">
                <img
                  class="frame-inner"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/ellipse-137@2x.png' %}"
                />

                <div class="ellipse-div"></div>
              </div>
            </div>
          </div>
        </header>
        <section class="chat-area">
          <div class="question-response">
            <div class="question-container">
              <div class="ai-avatar-parent">
                <img
                  class="ai-avatar-icon"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/ai-avatar.svg' %}"
                />

                <h3 class="a">A</h3>
              </div>
            </div>
            <div class="question-content">
              <div class="question-bubble">
                <div class="question-card-parent">
                  <div class="question-card">
                    <div class="the-advantages-of-artificial-i-wrapper">
                      <div class="the-advantages-of">
                        The advantages of Artificial Intelligence
                      </div>
                    </div>
                    <img
                      class="edit-icon"
                      loading="lazy"
                      alt=""
                      src="{% static 'public/edit.svg' %}"
                    />
                  </div>
                  <div class="login-form">
                    <img
                      class="login-form-child"
                      loading="lazy"
                      alt=""
                      src="{% static 'public/ellipse-137@2x.png' %}"
                    />
                  </div>
                </div>
                <div class="response-card">
                  <div class="artificial-intelligence-ai-container">
                    <p class="artificial-intelligence-ai">
                      Artificial Intelligence (AI) offers numerous advantages
                      and has the potential to revolutionize various aspects of
                      our lives. Here are some key advantages of AI:
                    </p>
                    <p class="blank-line">&nbsp;</p>
                    <ol class="automation-ai-can-automate-re">
                      <li class="automation-ai-can">
                        Automation: AI can automate repetitive and mundane
                        tasks, saving time and effort for humans. It can handle
                        large volumes of data, perform complex calculations, and
                        execute tasks with precision and consistency. This
                        automation leads to increased productivity and
                        efficiency in various industries. 
                      </li>
                      <li class="decision-making-ai-systems">
                        Decision-making: AI systems can analyze vast amounts of
                        data, identify patterns, and make informed decisions
                        based on that analysis. This ability is particularly
                        useful in complex scenarios where humans may struggle to
                        process large datasets or where quick and accurate
                        decisions are crucial. 
                      </li>
                      <li class="improved-accuracy-ai">
                        Improved accuracy: AI algorithms can achieve high levels
                        of accuracy and precision in tasks such as image
                        recognition, natural language processing, and data
                        analysis. They can eliminate human errors caused by
                        fatigue, distractions, or bias, leading to more reliable
                        and consistent results. 
                      </li>
                      <li>
                        Continuous operation: AI systems can work tirelessly
                        without the need for breaks, resulting in uninterrupted
                        24/7 operations. This capability is especially
                        beneficial in applications like customer support
                        chatbots, manufacturing processes, and surveillance
                        systems.
                      </li>
                    </ol>
                  </div>
                  <div class="response-actions">
                    <div class="response-icons">
                      <img
                        class="response-icon"
                        loading="lazy"
                        alt=""
                        src="{% static 'public/vector-10.svg' %}"
                      />

                      <img
                        class="response-icon1"
                        loading="lazy"
                        alt=""
                        src="{% static 'public/vector-11.svg' %}"
                      />
                    </div>
                  </div>
                </div>
                <div class="response-buttons">
                  <button class="regenerate-response-button1">
                    <div class="make-response-shorter">
                      Make Response Shorter
                    </div>
                  </button>
                  <button class="regenerate-response-button2">
                    <div class="explain-it-to">
                      Explain it to me like a lawyer
                    </div>
                  </button>
                  <button class="regenerate-response-button3">
                    <div class="tell-me-about">Tell me about more</div>
                  </button>
                </div>
              </div>
              <div class="response-input">
                <div class="regenerate-container">
                  <button class="regenerate-response-button4">
                    <div class="button-icon-wrapper">
                      <img
                        class="button-icon"
                        alt=""
                        src="{% static 'public/vector-12.svg' %}"
                      />
                    </div>
                    <div class="regenerate-response">Regenerate response</div>
                  </button>
                </div>
                <div class="input-container">
                  <div class="input">
                    <div class="the-advantages-of1">
                      The advantages of Artificial Intelligence
                    </div>
                    <img
                      class="vector-icon9"
                      alt=""
                      src="{% static 'public/vector1.svg' %}"
                    />
                  </div>
                  <div class="rectangle-container">
                    <div class="rectangle-div"></div>
                    <img
                      class="send-icon"
                      loading="lazy"
                      alt=""
                      src="{% static 'public/vector-13.svg' %}"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="document-links">
              <div class="frame-div">
                <div class="frame-child1"></div>
                <h2 class="links-to-document-container">
                  <span>Links to </span>
                  <span class="document">Document</span>
                  <span> and </span>
                  <span class="website">Website</span>
                  <span> for this Response</span>
                </h2>
                <div class="external-links">
                  <div class="link-to-website-parent">
                    <a class="link-to-website">Link to website</a>
                    <div class="link-icon">
                      <img
                        class="icon-shape"
                        loading="lazy"
                        alt=""
                        src="{% static 'public/vector-14.svg' %}"
                      />
                    </div>
                  </div>
                  <div class="link-type"></div>
                  <div class="link-to-ducment-file-parent">
                    <div class="link-to-ducment">Link to ducment file</div>
                    <div class="vector-wrapper">
                      <img
                        class="vector-icon10"
                        loading="lazy"
                        alt=""
                        src="{% static 'public/vector-14.svg' %}"
                      />
                    </div>
                  </div>
                  <div class="link-type1"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
